.main-container{
    display: flex;
    flex-direction: column;
    width: 680px;
    height: auto;
    /* margin-top: 5vh; */
}
.main-container-headline{
    justify-content: center;
    margin-top: 10px;
    border-top: 1px solid #AD343E;
}
.main-container-headline-text{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.011em;
}
.main-container-button-box{
    margin-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #AD343E;
}
.main-container-button-box-tags{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 20px;
}
.main-container-button-box-tag{
    /* margin-left: 5px; */
}
.main-container-description{
    margin-top: 25px;
}
.main-container-description-text{
    font-size: 25px;
    font-weight: 500;
}
.main-container-article-body{
    margin-top: 50px;
}
.main-container-article-body-text{
    text-decoration: none;
    white-space: pre-wrap;
    font-size: 21px;
    font-weight: 400;
}
.main-container-type-iconset{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main-container-type-icon{
    color: #F2AF29;
    margin-right: 5px;
}
.main-container-reporter-box{
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-container-reporter-name{
    height: 50%;
    font-size: 18px;
    font-weight: 500;
}
.main-container-reporter-box-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.main-container-reporter-box-times{
    display: flex;
    flex-direction: row;
    white-space: pre;
}
.main-container-rt-avatar{
    height: 60px;
    width: 60px;
}
.main-container-reporter-box-date{
    font-size: 16px;
    font-weight: 475;
}
.main-container-button-box-options{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}
.main-container-button-box-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 50%;
}
.main-container-button-box-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
}