.main-container-ra-header{
    text-transform: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}
.main-container-ra-headline{
    text-transform: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.main-container-ra-link{
    text-decoration: none;
    color: black;
    text-underline-position: none;
    text-underline-offset: none;
    height: 60px;
    width: 60px;
}
.main-container-ra-articleset{
    margin-top: 12px;
    width: 20vw;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.main-container-ra-article-image{
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}