<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Temp Name</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../../static/css/header.css">
        <link rel="stylesheet" href="../../../../static/css/profile.css">
    </head>
    <body>
        <div class="topnav" id = "myTopnav">
            <img alt="No Image"></img>
            <aTitle class="active">Lorem</aTitle>
            <button> About Us </button>
            <button> Login</button>
            <button id = "myBtn"> Sign Up</button>
        </div>
        <div class='container'> 
            <div class = 'menu'>
                <!-- <div class='options'>
                    <profile>Profile</profile>
                    <articles>My Articles</articles>
                    <followers>Followers</followers>
                </div> -->
                <div class="div">
                    <div class="builder-columns div-2">
                      <div class="builder-column column">
                        <div class="div-3">My Profile</div>
                    </div>
                      <div class="builder-column column-2">
                        <div class="div-4">My Articles</div>
                      </div>
                      <div class="builder-column column-3">
                        <div class="div-5">Followers</div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class='profile'>
                <div class="left">
                    <div class="iconBack">

                    </div>
                </div>
                <div class="middle">
                    <div class="middleContent">
                        <p>Name<br/><br/><span> Joe Brown</span></p>
                        <p>Email<br/><br/><span> JoeBrown@gmail.com</span></p>
                        <p>Role<br/><br/><span> Writer</span></p>
                        <p>Phone<br/><br/><span> 444-444-4444</span></p>
                    </div>
                </div>
                <div class="right">
                    <div class="rightTitle">
                        Bio
                    </div>
                    <bio>  
                       <span>"Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </bio>
                </div>
            </div>
            <div class='bottom'>
                <div class="followersContent">
                    <div class='followers'>
                        <p>Followers</p>
                        <p>53,256</p>
                        <p>Following</p>
                        <p>843</p>
                        <p>Written Articles</p>
                        <p>67</p>
                    </div>
                    <div class='popArticles'>
                        <p>articles</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>