body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    flex-flow: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background-color: black; */

}
.article{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    margin-left: 20%;
    margin-top: 50px;
    height: 150px;
    border-radius: 10px;
    padding-left: 10px;
}
.item-right{
    /* background-color: lightcoral; */
    width: 20%;
    margin-left: 80%;
    margin-top: 0px;
    height: 600px;
    position: absolute;
    justify-content: center;
}
.item-right .content{
    background-color: lightseagreen;
    width: 50%;
    height: 500px;
    margin-left: 25%;
    margin-top: 10%;
}
.item-middle{
    /* background-color: orange; */
    width: 20%;
    margin-left: 60%;
    position: absolute;
}
.item-left{
    width: 60%;
    /* background-color: rebeccapurple; */
}
.recomended:hover {
  box-shadow: 0 8px 16px 0 #ccb9b1;
}
/* .footer:hover {
  box-shadow: 0 8px 16px 0 #ccb9b1;
} */
.people:hover {
  box-shadow: 0 8px 16px 0 #ccb9b1;
}
/* .popTags:hover {
  box-shadow: 0 8px 16px 0 #ccb9b1;
} */
.article:hover {
    box-shadow: 0 8px 16px 0 #ccb9b1;
  }
.recomended{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 55%;
    margin-top: -100px;
    width: 20%;
    height: 350px;
    border-radius: 5px;
}
.people{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 78%;
    margin-top: -350px;
    width: 15%;
    height: 160px;
    border-radius: 5px;
}
.popTags{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    margin-left: 20%;
    width: 60%;
    height: 150px;
    margin-top: 10%;
    border-radius: 10px;
    border-bottom: 4px solid #212123;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px 15px;
}

.popTags .tag{
    margin-left: 10px;
    color: #212123;
    font-size: 17px;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    outline: 1px solid black;
    /* background-color: lightblue; */
}

.tag:hover {
    box-shadow: 0px 0px 5px 5px #ccb9b1;
    transform: scale(1.2);
    text-decoration: none;
    /* background-color: lightblue;  */
}
.tag a{
    text-decoration: none;
    color: black;
}

.footer{
    margin-left: 20%;
    width: 60%;
    text-align: left;
}
.footer a{
    padding: 5px;
    color: #212123;
    text-decoration: none;
    font-size: 12px;
    display: inline-flex;

}

.article .description{
    width: auto;
}
.bottom{
    text-align: center;
    width: 100%;
    font-size: 15px;
    margin-top: 30px;
}
.bottom p1{
    float: left;
    text-align: left;
}
.bottom p2{
    margin: 5px;
    background-color: white;
    border: solid #616063 2px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 10px;
    text-align: center;
}
.bottom p3{
    float: right;
    margin-right: 10px;
    text-align: right;
}
.article .account{
    text-align: right;
    font-size: 15px;
}
.article .date{
    text-align: left;
    font-size: 15px;
}
.sticky{
    position: fixed;
    margin-left: 60%;
    width: 20%;
    top: 20px;
}
.stickyAD{
    position: fixed;
    margin-left: 60%;
    width: 20%;
    top: 20px;
}
@media screen and (max-width: 1920px) {
    .popTags{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        /* transition: 0.3s; */
        margin-left: 20%;
        height: 150px;
        width: 60%;
        margin-top: 50px;
        border-radius: 10px;
        border-bottom: 4px solid #212123;
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        gap: 10px 12px;
    }
    .footer a{
        padding: 4px;
        color: #212123;
        text-decoration: none;
        font-size: 12px;
    }
}