.main-container-subheader{
    margin-top: -5px;
    background-color: #d9cab3;
    height: 300px;
    width: 100%;
    border-bottom: 2px solid #616063;
    z-index: -1;
}

.main-container-subheader-title{
    color: #000000;
    max-width: 500px;
    text-align: left;
    font-size: 40px;
    margin-left: 18vw;
    margin-top: 0px;
    padding: 10px 0 0 0;
}
.main-container-subheader-description{
    color: #000000;
    max-width: 500px;
    margin-left: 20vw;
    margin-top: -15px;
}
.main-container-subheader-button{
    background-color: #AD343E;
    padding: 5px 0 5px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    margin-left: 20vw;
    transition: transform ease 0.2s, box-shadow ease 0.2s;
}
.main-container-subheader-button:hover{
    background-color: #AD343E;
    padding: 5px 0 5px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    margin-left: 20vw;
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px #AD343E;
}
.main-container-subheader-link{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
}