.main-container-subheader{
    margin-top: -20px;
    background-color: #d9cab3;
    height: 300px;
    width: 100%;
    border-bottom: 2px solid #616063;
    /* z-index: 0; */
    /* position: relative; */
}
.main-container-subheader-title{
    color: white;
    top: 20px;
    position: relative;
    left: 25%;
    max-width: 500px;
    text-align: left;
}
.main-container-subheader-description{
    color: white;
    position: relative;
    max-width: 500px;
    top: 30px;
    left: 26%;
}
.main-container-subheader-button{
    background-color: #90323D;
    border: solid #616063 2px;
    padding: 5px 0 5px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    width: 100px;
    top: 40px;
    left: 26%;
}
.main-container-subheader-button:hover{
    font-size: 17px;
    font-weight: 300;
    color: white;
    background-color: black;
}
.main-container-subheader-link{
    text-decoration: none;
    color: white;
    font-size: 15px;
}