.article-container{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.article-container-left{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.article-title{
    height: 50px;
    width: 800px;
    font-size: 50px;
}
.article-description{
    margin-top: 2vh;
    width: 800px;
    font-size: 18px;
    line-height: 1.5;
}
.article-body{
    margin-top: 2vh;
    width: 800px;
    font-size: 12px;
    vertical-align:top;
}
.article-container-right{
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    /* align-items: center; */
    width: 15%;
    margin-left: 10px;
}
.article-container-right-options{
    display: flex;
    flex-direction: column;
}
.article-container-right-options-button{
    background-color: #AD343E;
    color: white;
    padding: 10px 0 10px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
    transition: transform ease 0.2s, box-shadow ease 0.2s; 
    margin-top: 1vh;
}
.article-container-right-options-button:hover{
    background-color: #AD343E;
    padding: 10px 0 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    width: 100%;
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px #AD343E;
}
.article-container-visibility{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    border-bottom: 1px solid #AD343E;
}
.article-container-right-tag-list{
    margin-top: 2vh;
    /* width: 100%;
    overflow-wrap: initial; */
}