<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Temp Name</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro">
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
        <!-- <!-- <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}"/> -->

        <!-- TODO: Breaks the format on the main article list -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static "css/article.css" %}"/>  -->

        <!-- <link rel="stylesheet" type="text/css" href="{% static "css/LogSign.css" %}"/> -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}"/> -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static "css/createarticle.css" %}"/> -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static "css/loading.css" %}"/> TODO: Move to the acutal loading folder -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static "css/errors.css" %}"/> -->
    </head>
    <body>
        <div id="main">
            <div id='root'></div>
        </div> 
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>

<!-- FIX THIS -->