<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>News Wire</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"> 
        <link href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Neue+Haas+Grotesk+Display+Pro:wght@400;700&display=swap">
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
    </head>
    <body>
        <div id="main">
            <div id='root'></div>
        </div> 
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>

<!-- FIX THIS -->